@model List<Crud.Models.Utilisateur>
@{
    ViewBag.Title = "ListeUtilisateurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.css" rel="stylesheet" media="all">

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Accueil</a></li>
                    <li class="breadcrumb-item active">Liste Utilisateurs</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<!-- Main content -->
<section class="content">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Liste  Utilisateurs</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="col-sm-12 col-md-12" style=" text-align: right;">
                <a class="btn btn-app" style="height: 60px;" id="AjouterUtilisateur">
                    <i class="fas fa-plus"></i> Ajouter
                </a>
                <a class="btn btn-app edit" style="height: 60px;" id="ModifierUtilisateur">
                    <i class="fas fa-edit"></i> Modifier
                </a>
                <a class="btn btn-app delete" style="height: 60px;" id="SupprimerClient">
                    <i class="fas fa-trash"></i> Supprimer
                </a>
            </div>

            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="row">
                    <div class="col-sm-14">
                        <table id="tableclient" class="table table-bordered table-striped dataTable dtr-inline" role="grid">
                            <thead>
                                <tr role="row">
                                    <th style="visibility: hidden"></th>
                                    <th>Matricule</th>
                                    <th>Email</th>
                                    <th>Prenom</th>
                                    <th>Nom</th>
                                    <th>Telephone</th>
                                    <th>Role</th>
                                    <th>Poste</th>
                                    <th>Direction</th>
                                    <th>Etablissement</th>
                                    <th>Manager</th>
                                    <th>date de recrutement</th>



                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var Utilisateur in Model)
                                {
                                <tr>
                                    <td></td>
                                    <th>@Utilisateur.Matricule</th>
                                    <th>@Utilisateur.Email</th>
                                    <th>@Utilisateur.Prenom</th>
                                    <th>@Utilisateur.Nom</th>
                                    <th>@Utilisateur.Num_Tel</th>
                                    <th>@Utilisateur.Role</th>
                                    <th>@Utilisateur.Poste</th>
                                    <th>@Utilisateur.Direction</th>
                                    <th>@Utilisateur.Etablissement</th>
                                    <th>@Utilisateur.Manager</th>
                                    <th>@Utilisateur.Date_Recrutement</th>


                                </tr>


                                }



                            </tbody>

                        </table>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>


<!-- Modal Ajouter Utilisateur -->

<div class="modal fade" id="ModalAjouterUtilisateur" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter Utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Nom</label></div>
                        <div class="col-12"><input type="text"  placeholder="Nom" class="form-control" id="ModalAjouterUtilisateurNom" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Prenom</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalAjouterUtilisateurPrenom" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="col-3"><label>Email</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalAjouterUtilisateurEmail" /></div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Matricule</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalAjouterUtilisateurMatricule" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Telephone</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalAjouterUtilisateurTelephone" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Role</label></div>
                        <select id="ModalAjouterUtilisateurRole" class="form-control">
                             <option value="0"> User</option>
                            <option value="2"> Manager</option>
                            <option value="3">RH </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Poste</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalAjouterUtilisateurPoste" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Direction</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalAjouterUtilisateurDirection" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Etablissement</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalAjouterUtilisateurEtablissement" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Code Manager</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalAjouterUtilisateurCodeManager" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Date_Recrutement</label></div>
                        <div class="col-12"><input type="date" class="form-control" id="ModalAjouterUtilisateurDate_Recrutement" /></div>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="btnsave">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ajouter Utilisateur -->

<!-- Modal Modifier Utilisateur -->
<div class="modal fade" id="ModalModifierUtilisateur" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Nom</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalModifierUtilisateurNom" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Prenom</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalModifierUtilisateurPrenom" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Email</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalModifierUtilisateurEmail" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Manager</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalModifierUtilisateurManager" /></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Matricule</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalModifierUtilisateurMatricule" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Telephone</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalModifierUtilisateurTelephone" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Role</label></div>
                        <select id="ModalModifierUtilisateurRole" class="form-control">
                            <option value="0"> User</option>
                            <option value="2"> Manager</option>
                            <option value="3">RH </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Poste</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalModifierUtilisateurPoste" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-3"><label>Direction</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalModifierUtilisateurDirection" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-3"><label>Etablissement</label></div>
                        <div class="col-12"><input type="text" class="form-control" id="ModalModifierUtilisateurEtablissement" /></div>
                    </div>
                </div>                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="ModelModifierClientbtnsave">Enregistrer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modifier Utilisateur -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>


<script>
    let selectedRows;
    var table;
    $(document).ready(function () {
        table= $('#tableclient').DataTable({
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            }
        });

        table.on('select deselect', function () {
            selectedRows = table.rows({ selected: true }).data();
            var Jsondata = JSON.stringify(table.row({ selected: true }).data());

            if (Jsondata !== undefined) {
                console.log("selectedRows", selectedRows[0]);
                toastr.success('Vous avez sélectionné Utilisateur :' + selectedRows[0][2] + ' code :' + selectedRows[0][1]);
                $('#Code').val(selectedRows[0][1]);



            } else {
                var count = table.rows({ selected: true }).count();
                if (count == 0) {
                    toastr.error('Aucun Utilisateur sélectionné .');
                }


            }


        });
    });

    $('#AjouterUtilisateur').click(function () {


        $('#ModalAjouterUtilisateur').modal('show');
          
    });
    $('#ModelModifierClientbtnsave').click(function () {
        var Client = {};
        Client.Code = $('#ModalModifierClientCode').val();

        Client.Intitule = $('#ModalModifierClientintitule').val();

        Client.Ville = $('#ModalModifierClientVille').val();
        Client.Gouvernorat = $('#ModalModifierClientGouvernorat').val();

        var Zone = {};
        Zone.Code = $('#ModelModifierClientZone').val();
        Client.Zone = Zone;


        var Circuit = {};
        Circuit.Code = $('#ModelModifierClientCircuit').val();
        Client.Circuit = Zone;

        var Representant = {};
        Representant.Code = $('#ModelModifierClientRepresentant').val();
        Client.Representant = Zone;

        console.log("Client", Client);

            $.ajax({
                     dataType: "json",
                      async: false,
                    type: "Post",
                    url: "@Url.Action("ModifierClient", "Admin")",
                    data: { Client},
                success: function (data) {
                    console.log("data", data);
                    if (data == "Sucess") {

                        Swal.fire({
                            showCloseButton: true,
                            title: "succès",
                            text: "Enregistrement terminé avec succès ",
                            icon: "success",
                            button: "OK",
                            dangerMode: true
                        }).then(function () {

                            location.reload();
                        });

                    }
                }

            });

    })
    $('#ModifierUtilisateur').click(function () {
        var count = table.rows({ selected: true }).count();
        if (count == 0) {
            toastr.error('Aucun Utilisateur sélectionné .');
            return;
        }


    $('#ModalModifierUtilisateurNom').val(selectedRows[0][4]);
    $('#ModalModifierUtilisateurPrenom').val(selectedRows[0][3]);
    $('#ModalModifierUtilisateurEmail').val(selectedRows[0][2]);   
    $('#ModalModifierUtilisateurMatricule').val(selectedRows[0][1]);
    $('#ModalModifierUtilisateurTelephone').val(selectedRows[0][6]);
    $('#ModalModifierUtilisateurRole').val(selectedRows[0][6]);
    $('#ModalModifierUtilisateurPoste').val(selectedRows[0][7]);
    $('#ModalModifierUtilisateurDirection').val(selectedRows[0][8]);
    $('#ModalModifierUtilisateurEtablissement').val(selectedRows[0][9]);
    $('#ModalModifierUtilisateurManager').val(selectedRows[0][10]);   

        $('#ModalModifierUtilisateur').modal('show');
    });
    $('#SupprimerClient').click(function () {
        var count = table.rows({ selected: true }).count();
        if (count == 0) {
            toastr.error('Aucun client sélectionné .');
            return;
        }
        var CodeClient = selectedRows[0][1];

         $.ajax({
                    dataType: "json",
                    type: "Post",
                    url: "@Url.Action("DeleteClient", "Admin")",
                    data: { CodeClient },
                   success: function (data) {
                  if (data == "Sucess") {

                       Swal.fire({
                        showCloseButton: true,
                        title: "succès",
                        text: "Enregistrement terminé avec succès ",
                        icon: "success",
                        button: "OK",
                        dangerMode: true
                    }).then(function () {

                        location.reload();
                    });
                  }
              }
            });

    })
    $('#btnsave').click(function () {
        var Utilisateur = {};
        Utilisateur.Nom= $('#ModalAjouterUtilisateurNom').val();
        Utilisateur.Prenom= $('#ModalAjouterUtilisateurPrenom').val();
        Utilisateur.Email= $('#ModalAjouterUtilisateurEmail').val();      
        Utilisateur.Matricule= $('#ModalAjouterUtilisateurMatricule').val();
        Utilisateur.Num_Tel= $('#ModalAjouterUtilisateurTelephone').val();
        Utilisateur.Role= $('#ModalAjouterUtilisateurRole').val();
        Utilisateur.Poste= $('#ModalAjouterUtilisateurPoste').val();
        Utilisateur.Direction= $('#ModalAjouterUtilisateurDirection').val();
        Utilisateur.Etablissement= $('#ModalAjouterUtilisateurEtablissement').val();
        Utilisateur.Manager= $('#ModalAjouterUtilisateurCodeManager').val();
        Utilisateur.Date_Recrutement= $('#ModalAjouterUtilisateurDate_Recrutement').val();




    
        if ($('#ModalAjouterUtilisateurNom').val().trim() =='') {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Nom est vide !',
                footer: ''
            })
            return;
        }
       


          $.ajax({
                    dataType: "json",
                    type: "Post",
                    url: "@Url.Action("SaveUtilisateur", "Admin")",
              data: { Utilisateur},
                   success: function (data) {
                       if (data == "Sucess") {

                           Swal.fire({
                               showCloseButton: true,
                               title: "succès",
                               text: "Enregistrement terminé avec succès ",
                               icon: "success",
                               button: "OK",
                               dangerMode: true
                           }).then(function () {


                               location.reload();
                           });
                       } else {

                           Swal.fire({
                               icon: 'error',
                               title: 'Oops...',
                               text: 'error..!',
                               footer: ''
                           })
                       }
              }
            });


    });

</script>


